.container {
    height: 250px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}
/* Bordered form */
form {
    border: 1px solid #f1f1f1;
}

label{
font-size:20px;
}
/* Full-width inputs */
input[type=email],
input[type=password]{
    justify-content: center;
    width: 90%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.modal input[type=password]{
width:90%;
}

/* Set a style for all buttons */
input[type=submit]{
    background-color: #0d6efd;;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    position: absolute;
    top: 75%;
    left: 50%;
    font-size:20px;

    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

/* Add a hover effect for buttons */
input[type=submit] {
    opacity: 0.8;
}

.error{
text-align:center;
font-size:18px;

}

button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  font-size:25px;
  font-weight:bold;
  color:white;
  /*input has OS specific font-family*/
  cursor: pointer;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    top: 50%;
    left: 50%;
    height: 400px;
    width: 600px;
    /* Full height */
    overflow:hidden;
    /* Enable scroll if needed */
    background-color: white;
    
    /* Black w/ opacity */
    padding: 50px 35px;
    /*container*/
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 2%;
    
}

/* Modal Content/Box */
.modal-content {
    margin: 5px auto;
    width: 100%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color:#0d6efd;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: crimson;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.register{
width:80%;
padding-left:10px;
align-items:center;
}

.register span a{
text-decoration:none;
color:crimson;
}

.register-form-container input[type=email], input[type=password], input[type=text]{
    justify-content: center;
    width: 70%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form{
border: 1px solid #f1f1f1;
background-color:light-blue;
}


<nav class="nav flex-column bg-gray">
  <a class="nav-link active" aria-current="page" href="#">Active</a>
  <a class="nav-link" href="manage">Manage</a>
  <a class="nav-link" href="fast">Fast</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>